{% extends 'base.html' %}

{% block content %}
    <section class="five columns">
        <div class="move-fitness-logo"><a href="{% url index %}"></a></div>
        <p>{{ contact.address }}</p>
        <p>Tel.: {{ contact.phone }}</p>
        <p>Horário de Funcionamento</p>
        <p>{{ contact.business_hours }}</p>
    </section>
    <section class="nine columns content">
        <div class="maps">
            <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Travessa+Mendes+da+Silva,+60,+Maria+da+Gra%C3%A7a,+RJ&amp;aq=&amp;sll=37.807784,-122.475586&amp;sspn=0.020547,0.038409&amp;ie=UTF8&amp;hq=&amp;hnear=Travessa+Mendes+da+Silva,+60+-+Maria+da+Gra%C3%A7a,+Rio+de+Janeiro,+20785-230,+Brazil&amp;t=m&amp;ll=-22.882422,-43.26416&amp;spn=0.013838,0.018239&amp;z=15&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Travessa+Mendes+da+Silva,+60,+Maria+da+Gra%C3%A7a,+RJ&amp;aq=&amp;sll=37.807784,-122.475586&amp;sspn=0.020547,0.038409&amp;ie=UTF8&amp;hq=&amp;hnear=Travessa+Mendes+da+Silva,+60+-+Maria+da+Gra%C3%A7a,+Rio+de+Janeiro,+20785-230,+Brazil&amp;t=m&amp;ll=-22.882422,-43.26416&amp;spn=0.013838,0.018239&amp;z=15" style="color:#0000FF;text-align:left">View Larger Map</a></small>
        </div>
    </section>
{% endblock %}
