section.four.columns a img {
    height: 63px;
}

section .thumbs {
    margin-left: 7px;
    padding: 3px;
    background-color: #ddd;
    width: 212px;
}

section .thumb {
    margin: 3px !important;
}

section .thumb img {
    width: 100px;
    height: 63px;
    margin: 0 !important;
}

section .thumb img.active {
    opacity: 0.5;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}
