{% load static %}
{% load menu %}
{% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html>
<html>
    <head>
        <title>Move Fitness {% block title %}{% endblock %}</title>

        <meta charset="utf-8" />
        
        <link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/base.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/layout.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/skeleton.css" />
        {% block css %}
        {% endblock %}
    </head>
    <body>
        <div class="menu-wrapper">
            <menu class="container">
                <ul>
                    <li class="{% is_active request.path 'our_installations' %}"><a href="{% url our_installations %}">Nossas Instalações</a></li>
                    <li class="{% is_active request.path 'activities' %}"><a href="{% url activities %}">Atividades</a></li>
                    <li class="{% is_active request.path 'social' %}"><a href="{% url social %}">Notícias</a></li>
                    <li class="{% is_active request.path 'partners' %}"><a href="{% url partners %}">Parceiros</a></li>
                    <li class="last-item {% is_active request.path 'contact' %}"><a href="{% url contact %}">Contato</a></li>
                    <li class="facebook"><a target="_blank" href="{{ social.facebook }}"></a></li>
                    <li class="twitter"><a target="_blank" href="http://twitter.com/{{ social.twitter }}"></a></li>
                </ul>
            </menu>
        </div>
        <div class="content-wrapper">
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
        </div>

        <footer>
            <div class="footer-top"></div>
            <div class="container">
                <p> Academia Move Fitness &reg; - 2011 - Todos os direitos reservados.  </p>
                <p class="uau-impressos-logo"><a target="_blank" href="http://www.uauimpressos.com"></a></p>
            </div>
        </footer>

        {% block javascript %}
        {% endblock %}

    </body>
</html>
