{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/installations.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/slimbox/slimbox.css" />
{% endblock %}

{% block content %}
    <section class="four columns">
        <div class="move-fitness-logo"><a href="{% url index %}"></a></div>
        <div class="thumbs">
            {% for installation in installations_list %}
                <div class="thumb column">
                    <a onclick="" rel="lightbox-atomium" href="{{ installation.photo.url }}" title="{{ installation.title }}">
                        <img class="two columns" src="{{ installation.photo.url }}" title="{{ installation.title }}" />
                    </a>
                </div>
            {% endfor %}
                <div class="clear-fix"></div>
        </div>
    </section>

    <section class="ten columns content">
        <h3>{{ content.title }}</h3>
        <p>{{ content.description }}</p>
    </section>
{% endblock %}

{% block javascript %}
    <script src="{{ STATIC_PREFIX }}js/mootools.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_PREFIX }}js/slimbox.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_PREFIX }}js/slimbox/autoload.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_PREFIX }}js/our_installations.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}
