{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/social.css" />
{% endblock %}

{% block content %}
    <section class="five columns">
        <div class="move-fitness-logo"><a href="{% url index %}"></a></div>
    </section>
    <section class="nine columns content">
        <h3>{{ content.title }}</h3>
        <p>{{ content.description }}</p>
    </section>
    <div class="clear-fix"></div>
    <section class="row">
        <div id="tweets" class="six columns">
            <!--<a href="https://twitter.com/twitter" class="twitter-follow-button" data-show-count="false" data-lang="en" data-size="large">-->
            <!--    Follow {{ social.twitter }}-->
            <!--</a>-->
        </div>
        <div id="facebook" class="six columns">
            <div class="fb-like-box" data-href="{{ social.facebook }}" data-width="300" data-height="310" data-show-faces="true" data-stream="true" data-header="true"></div>
        </div>
    </section>
    <div id="fb-root"></div>
{% endblock %}

{% block javascript %}
<script src="{{ STATIC_PREFIX }}/js/mootools-core-1.4.5-full-compat-yc.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_PREFIX }}/js/mootools-more-1.4-full.js" type="text/javascript" charset="utf-8"></script>
<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
<script type="text/javascript" language="javascript" charset="utf-8">
//<![CDATA[
window.addEvent('domready', function() {
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
});

new TWTR.Widget({
    version: 2,
    type: 'search',
    search: '{{ social.twitter }}',
    interval: 30000,
    title: '',
    id: 'tweets',
    subject: 'Siga-nos no twitter',
    width: 300,
    height: 310,
    theme: {
        shell: {
            background: '#8ec1da',
            color: '#ffffff'
        },
        tweets: {
            background: '#ffffff',
            color: '#444444',
            links: '#1985b5'
        }
    },
    features: {
        scrollbar: false,
        loop: true,
        live: true,
        behavior: 'default'
    }
}).render().start();
//]]>
</script>
{% endblock %}
